.Container-View {
	width: 50vw;
	height: 30vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
}
@media only screen and (max-width: 1024px) {
	.Container-View {
		width: 70vw;
	}
}
@media only screen and (max-width: 1280px) {
	.Container-View {
		width: 55vw;
	}
}
