.Mapa {
	@media only screen and (min-width: 1020px) {
		width: 60vw;
		height: 47vh;
	}
	@media only screen and (max-width: 1019px) {
	}
	@media only screen and (max-width: 468px) {
	}
}

.Container {
	width: 70vw;
	height: 47vh;
	margin-top: 2vh;
	margin-bottom: 1vh;
}
