{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "rules": {
    "react/require-default-props": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/no-unstable-nested-components": ["error", { "allowAsProps": true }],
    "no-param-reassign": ["error", { "props": false }]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "frontend"
  }
}
