path {
	cursor: pointer;
	fill: transparent;
	pointer-events: auto;
}

#Ciutat_Vella,
#Les_Corts,
#L_Eixample,
#Horta_Guinardó,
#Nou_Barris,
#Sants_Montjuic,
#Sant_Andreu,
#Sant_Martí,
#Gràcia,
#Sarria_Sant_Gervasi,
#path25 {
	fill: #fcf5e3;
}

#path li {
	font-size: 8px;
}

.is-lit {
	background-color: #db2c7f;
	color: #fff;
	cursor: pointer;
	fill: #db2c7f !important;
}
