path {
	cursor: pointer;
	fill: transparent;
}

#path4301,
#path4287,
#path4293,
#path4295,
#path4299,
#Sarrià-SantGervasi,
#path709,
#path695,
#path697,
#path707,
#path25 {
	fill: #fcf5e3;
}

#path li {
	font-size: 8px;
}

.is-lit {
	background-color: #db2c7f;
	color: #fff;
	cursor: pointer;
	fill: #db2c7f;
}

.is-district-lit {
	fill: #db2c7f !important;
}
