path {
	cursor: pointer;
	fill: #f0e68c;
	stroke: #db2c7f;
	stroke-width: 2px;
}
#\32 8-vallcarca:hover,
#\32 9-elcoll:hover,
#\32 2-vallvidrera:hover,
#\32 3-sarria:hover,
#\32 1-pedralbes:hover,
#\32 0-lamaternitat:hover,
#\32 4-trestorres:hover,
#\31 7-santsbadal:hover,
#\31 9-lescorts:hover,
#\31 8-sants:hover,
#\31 6-labordeta:hover,
#\37-eixampledreta:hover,
#\31 3-marinadeport:hover,
#\38-antigadretadeleixample:hover,
#\33-barceloneta:hover,
#\31-raval:hover,
#\32-gotic:hover,
#\34-santpere:hover,
#\32 6-santgervasi:hover,
#\32 7-elputget:hover,
#\33 1-gracia:hover,
#\33 0-lasalut:hover,
#\33 2-elcampdengrassot:hover,
#\36-sagradafamilia:hover,
#\36 7-vilaolimpica:hover,
#\36 8-poblenou:hover,
#\37 1-provençalsdelpoblenou:hover,
#\36 5-elclot:hover,
#\36 4-campdelarpa:hover,
#\37 2-santmartideprovençals:hover,
#\37 3-lavernedailapau:hover,
#\36 1-lasagrera:hover,
#\36 3-navas:hover,
#\35 9-bonpastor:hover,
#\36 0-santandreu:hover,
#\35 8-barodeviver:hover,
#\35 7-trinitatvella:hover,
#\36 2-elcongresielsindians:hover,
#\33 5-elguinardo:hover,
#\33 3-baixguinardo:hover,
#\33 4-canbaro:hover,
#\33 6-lafontdenfargues:hover,
#\33 7-elcarmel:hover,
#\33 8-lateixonera:hover,
#\34 0-montbau:hover,
#\34 1-valldhebron:hover,
#\34 3-horta:hover,
#\34 2-laclota:hover,
#\34 4-vilapicina:hover,
#\34 5-porta:hover,
#\34 6-turodelapeira:hover,
#\34 7-canpeguera:hover,
#\34 8-laguineueta:hover,
#\34 9-canyelles:hover,
#\35 2-laprosperitat:hover,
#\35 1-verdun:hover,
#\35 3-trinitatnova:hover,
#\35 0-lesroquetes:hover,
#\35 4-torrebaro:hover,
#\35 5-ciutatmeridiana:hover,
#\35 6-vallbona:hover,
#\31 4-lafontdelaguatlla:hover,
#\31 5-hostafrancs:hover,
#\39-novaesquerradeleixample:hover,
#fp-zonafrancaport:hover,
#\31 0-santantoni:hover,
#\31 2-lamarinadelpratvermell:hover,
#pm-parcdemontjuic:hover,
#\31 1-poblesec:hover,
#\36 9-diagonalmar:hover,
#\37 0-besosimaresme:hover,
#\36 6-elparcilallaunadepoblenou:hover,
#\35-elfortpienc:hover,
#\33 9-santgenisdelsagudells:hover,
#\32 5-santgervasibonanova:hover {
	fill: #db2c7f;
}

#text3908 {
	fill: green;
	font-size: 30px;
}
