.Map {
  width: 600px;
  height: 285px;
  margin-top: 1%;
  z-index: 0;
  margin: auto;
}

.Map-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.IconIMG {
  width: 20px;
  height: 20px;
}
